<div th:fragment="header" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <a class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <span class="fs-4" style="color: rebeccapurple; font-weight: bold">localhost:8080</span>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-white" style="font-weight: bold; font-size: 16px">Каталог</a></li>
          <li><a href="/fav" class="nav-link px-2 text" style="color: indianred; font-weight: bold; font-size: 16px">Избранное</a></li>

          <div sec:authorize="hasAnyAuthority('ADMIN', 'REDACTOR')">
              <li><a href="/tablesCar" class="nav-link px-2 text" style="color: khaki; font-weight: bold; font-size: 16px">Таблицы машин</a></li>
          </div>
          <div sec:authorize="hasAnyAuthority('ADMIN')">
            <li><a href="/user" class="nav-link px-2 text" style="color: khaki; font-weight: bold; font-size: 16px">Таблицы пользователей</a></li>
          </div>
        </ul>

        <div class="nav col-1 text-end">
          <li><a href="/profile" class="nav-link px-2 text" style="color: cornflowerblue; font-weight: bold; font-size: 16px">Профиль</a></li>
        </div>

        <div class="text-end">
          <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-outline-danger me-2">Выйти</button>
          </form>
        </div>
      </div>
    </div>
  </header>
</div>