<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Каталог машин</title>
    <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<div th:insert="fragments/header :: header"></div>

<body class="text-bg-dark" style="font-family: 'Century Gothic'">

<div class="cover-container p-3 flex-column">

    <main class="px-3">

        <form action="/search" method="get">
            <input type="text" name="search" class="form-control" placeholder="Поиск">

            <input type="submit" hidden />
        </form> <br><br><br>

        <div class="row" th:each="el: ${listCar}" style="margin-bottom: 15px">
            
            <div class="row" th:each="el_: ${el.getIdcarPhoto()}">
                <div class="col-md-auto">
                    <img th:src="${el_.photolink}" style="border-radius: 25px; width: 540px; height: 250px">
                </div>

                <div class="col-2">
                    <div class="row text-centers">
                        <p th:text="${el.getCarname()}" style="font-size: 26px; font-weight: bold"></p>
                    </div>
                    <div>
                        <p th:text="${el.getCarengineSize()} + ' л./' + ${el.getCarengineHP()} + ' л.с./' + ${el.getIdfuel().getFuelname()}" style="font-size: 18px"></p>
                    </div>
                </div>

                <div class="col-4">
                    <div style="height: 250px; max-height: 250px; overflow-y: scroll;">
                        <div th:each="el_: ${el.getSaloons()}">
                            <h4 th:text="${el_.getSaloonname()}"></h4>
                            <p th:text="${el_.getSaloonaddress()}"></p>
                        </div>
                    </div>
                </div>

                <div class="col text-center">
                    <div class="row-md-auto justify-content-start">
                        <p th:text="${el.getCarcost()} + ' руб.'" style="font-size: 26px" class="btn btn-success"></p>
                    </div>

                    <div class="row justify-content-end">

                        <div th:switch="${#lists.contains(favcars, el)}">
                            <div th:case="${true}">
                                <form>
                                    <button type="submit" formmethod="post" formaction="/favEDT" class="btn btn-light" id="btn-favdel">Удалить из избранного</button>
                                    <input name="id" th:value="${el.getIdcar()}" style="visibility: hidden">
                                    <button type="submit" formmethod="post" formaction="/favEDT" class="btn btn-danger" id="btn-favadd_" style="visibility: hidden">Добавить в избранное</button>
                                    <input id="func1" type="text" name="func" th:value="Удалить" readonly style="visibility: hidden">
                                </form>
                            </div>

                            <div th:case="*">
                                <form>
                                    <button type="submit" formmethod="post" formaction="/favEDT" class="btn btn-danger" id="btn-favadd">Добавить в избранное</button>
                                    <input name="id" th:value="${el.getIdcar()}" style="visibility: hidden">
                                    <button type="submit" formmethod="post" formaction="/favEDT" class="btn btn-light" id="btn-favdel_" style="visibility: hidden">Удалить из избранного</button>
                                    <input id="func2" type="text" name="func" th:value="Добавить" readonly style="visibility: hidden">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>

<script>
    var btn = document.getElementById("btn-favdel");
    var btn_ = document.getElementById("btn-favadd_");
    var btn1 = document.getElementById("btn-favadd");
    var btn1_ = document.getElementById("btn-favdel_");
    var func1 = document.getElementById("func1");
    var func2 = document.getElementById("func2");

    btn.onclick = function(){
        this.event.preventDefault();
        this.style.visibility = 'hidden';
        btn_.style.visibility = 'visible';
        func1.value = "Добавить";
    }

    btn_.onclick = function(){
        this.event.preventDefault();
        this.style.visibility = 'hidden';
        btn.style.visibility = 'visible';
        func1.value = "Удалить";
    }

    btn1.onclick = function(){
        this.event.preventDefault();
        this.style.visibility = 'hidden';
        btn1_.style.visibility = 'visible';
        func2.value = "Удалить";
    }

    btn1_.onclick = function(){
        this.event.preventDefault();
        this.style.visibility = 'hidden';
        btn1.style.visibility = 'visible';
        func2.value = "Добавить";
    }

</script>