<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<div th:insert="fragments/header :: header"></div>
<body class="text-bg-dark" style="font-family: 'Century Gothic'">
<div class="cover-container p-3 flex-column">

    <main class="px-3">
        <div class="row" th:each="el: ${user}" style="margin-bottom: 15px">
            <div class="row">
                <div class="col-md-auto">
                    <img th:src="${pp}" style="border-radius: 25px; width: 250px; height: 250px">
                </div>

                    <div class="col-md-auto">
                        <form action="/profileEDT" method="post">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="loginSpan" style="width: 120px">Логин</span>
                                <input type="text" readonly class="form-control bg-dark" aria-label="Логин" aria-describedby="loginSpan" style="color: white" th:value="${el.login}">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">ФИО</span>
                                <input id="input-F" type="text" aria-label="Фамилия" placeholder="Фамилия*" class="form-control bg-dark" style="color: white" th:value="${fam}" required>
                                <input id="input-I" type="text" aria-label="Имя" placeholder="Имя*" class="form-control bg-dark" style="color: white" th:value="${im}" required>
                                <input id="input-O" type="text" aria-label="Отчество" placeholder="Отчество" class="form-control bg-dark" th:value="${ot}" style="color: white">
                            </div>
                            <div class="input-group mb-3 text-center" th:each="el_: ${el.userData}">
                                <div class="form-check m-auto" th:each="el__: ${el_.idgender}">
                                    <input class="form-check-input" type="radio" value="1" name="idgender" th:checked="${el__.gendername == 'Мужской пол'}" required>
                                    <label class="form-check-label">Мужской пол</label>
                                </div>
                                <div class="form-check m-auto" th:each="el__: ${el_.idgender}">
                                    <input class="form-check-input" type="radio" value="2" name="idgender" th:checked="${el__.gendername == 'Женский пол'}" required>
                                    <label class="form-check-label">Женский пол</label>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="emailSpan" style="width: 120px">Почта*</span>
                                <input name="email" type="email" class="form-control bg-dark" placeholder="example@ex.com" aria-label="Почта" aria-describedby="emailSpan" style="color: white" th:value="${em}" required>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="phoneSpan" style="width: 120px">Тел. номер</span>
                                <input name="phone" type="tel" pattern="[+]{1}7[0-9]{10}" class="form-control bg-dark" maxlength="12" minlength="12" placeholder="+79999999999" aria-label="Тел. номер" aria-describedby="phoneSpan" style="color: white" th:value="${ph}" required>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="roleSpan" style="width: 120px">Роли</span>
                                <input type="text" readonly class="form-control bg-dark" aria-label="Роли" aria-describedby="roleSpan" style="color: white" th:value="${el.roles}" required>
                            </div>
                            <div class="input-group mb-5">
                                <span class="input-group-text" id="iconSpan" style="width: 160px">Ссылка на фото</span>
                                <input name="imgURL" type="text" class="form-control bg-dark" aria-label="Ссылка на фото" aria-describedby="iconSpan" style="color: white" th:value="${pp}">
                            </div>

                            <button type="submit" class="btn btn-success">Сохранить</button>

                            <input id="input-FIO" th:value="${fam} + ' ' + ${im} + ' ' + ${ot}" name="FIO" type="text" style="visibility: hidden; width: 1px; height: 1px;">
                            <input name="id" th:value="${el.iduser}" type="text" style="visibility: hidden; width: 1px; height: 1px;">
                        </form>
                    </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>

<script>
    var iF = document.getElementById("input-F");
    var iI = document.getElementById("input-I");
    var iO = document.getElementById("input-O");
    var iFIO = document.getElementById("input-FIO");

    window.onload = function (){
        iFIO.value = iF.value + " " + iI.value + " " + iO.value;
    }

    iF.onchange = function(){
        iFIO.value = iF.value + " " + iI.value + " " + iO.value;
    }
    iI.onchange = function(){
        iFIO.value = iF.value + " " + iI.value + " " + iO.value;
    }
    iO.onchange = function(){
        iFIO.value = iF.value + " " + iI.value + " " + iO.value;
    }
</script>