<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление машины</title>
</head>
<body>
  <form method="post">
    <label>
      <input name="carName" type="text" placeholder="Название"> <br>
      <input name="carColor" type="text" placeholder="Цвет"> <br>
      <input name="carKPPType" type="text" maxlength="1" placeholder="Тип коробка передач (м/а)"> <br>
      <input name="carCost" type="number" placeholder="Цена"> <br>
      <input name="carDelivery" type="text" placeholder="гггг-мм-дд"> <br><br>

      <input type="submit" value="Добавить машину">
    </label>
  </form>

  <a href="/car">Отмена</a>
</body>
</html>