<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление фото</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body class="text-bg-dark" style="font-family: 'Century Gothic'">
<div class="cover-container p-3 flex-column">

    <main class="px-3">
        <div class="row" style="margin-bottom: 15px">
            <div class="row">
                <div class="col-md-auto">
                    <form method="post">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="linkSpan">Ссылка</span>
                            <input name="photolink" type="text" class="form-control bg-dark" aria-label="Ссылка" aria-describedby="linkSpan" style="color: white" required>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="descSpan">Описание</span>
                            <input name="description" type="text" class="form-control bg-dark" aria-label="Описание" aria-describedby="descSpan" style="color: white" required>
                        </div>

                        <button type="submit" class="btn btn-success">Добавить</button>
                    </form>
                    <a href="/carPhoto" class="btn btn-dark">Назад</a>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>