<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Цвета</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<div th:insert="fragments/carTablesHeader :: header"></div>
<body class="text-bg-dark" style="font-family: 'Century Gothic'">
<div class="cover-container p-3 flex-column">

    <main class="px-3">
        <div class="row">
            <div class="row">
                <div class="col-md-2" style="border: 2px solid dimgray;">
                    <h2>ID</h2>
                </div>
                <div class="col-md-3" style="border: 2px solid dimgray;">
                    <p>Основной цвет</p>
                </div>
                <div class="col-md-3" style="border: 2px solid dimgray;">
                    <p>Дополнительный цвет</p>
                </div>
                <div class="col-md-3" style="border: 2px solid dimgray;">
                    <p>Вид цвета</p>
                </div>
                <div class="col-md-auto" style="margin-left: 10px">
                    <div class="row mb-3">
                        <a th:href="'/carTablesEdit/color/ADD'" class="btn btn-success">Добавить</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" th:each="el: ${listObject}">
            <div class="row">
                <div class="col-md-2" style="border: 2px solid dimgray;">
                    <h2 th:text="${el.getIdcolor()}"></h2>
                </div>
                <div class="col-md-3" style="border: 2px solid dimgray;">
                    <p th:text="${el.getColormain()}"></p>
                </div>
                <div class="col-md-3" style="border: 2px solid dimgray;">
                    <p th:text="${el.getColorsub()}"></p>
                </div>
                <div class="col-md-3" style="border: 2px solid dimgray;" th:each="el_: ${el.getColorType()}">
                    <p th:text="${el_.getColorType()}"></p>
                </div>
                <div class="col-md-auto" style="margin-left: 10px">
                    <div class="row mb-2">
                        <a th:href="'/carTablesEdit/color/EDT/' + ${el.getIdcolor()}" class="btn btn-info">Редактировать</a>
                    </div>
                    <div class="row mb-3">
                        <a th:href="'/carTablesEdit/color/DEL/' + ${el.getIdcolor()}" class="btn btn-danger">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>